<div>
    @for(char of selectedPassage(); track $index) {
    <span [class.text-pointer]="isActive($index)"
        [class.text-green-500]="this.checked[$index] && $index < currentIndex()"
        [class.invalid-text]="!this.checked[$index] && $index < currentIndex()"
        class="whitespace-nowrap text-[var(--neutral-400)] text-xl font-stretch-extra-condensed tracking-[-0.1em] ">
        {{ char}}
    </span>
    @if(char === ' ')
    {
    <span [class.text-pointer]="isActive($index)"
        [class.bg-[var(--red-500)]]="!this.checked[$index] && $index < currentIndex()" class="text-lg ">&nbsp;</span>}
    }
</div>